.vscode
.idea
/jdk-*
/.git
/*.xml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/serial4j/build
/serial4j/bin
/serial4j-native/build
/serial4j-examples/build
/serial4j-examples/bin
/serial4j-examples/*.so
/buildSrc/build

/*.so
/*.bin
